@model part4.ViewModels.ProductsList

@{
    ViewData["Title"] = "item.name" + " Page";
    var items = ViewData["productitems"] as ProductsList;
    var price = 0.0; 
}

<div class="container row editcomponents">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Your Cart Items</h4><br>Items as a part of the computer are also here</li>
            @foreach (var item in items.viewablecartitems) {
                <li class="collection-item avatar">
                    <img class="circle" src="@item.itemimage" />
                    <span class="title">@item.itemname</span>
                    <div class="chip">$@item.itemprice</div>
                    <p>@item.itemprice<br>@item.itemdescription.Replace("**", " ")</p>
                    @{price+=item.itemprice;}
                    <p class="secondary-content">@item.itemcount</p>
                </li>
            }
    </ul>
    Total: $@price
</div>
<div class="row reviews"></div>