@model part4.Models.ComputerObject

@{
    var item = ViewData["item"] as ComputerObject;
    ViewData["Title"] = item.name + " Page";
}

<div class="row product">
    <div class="col s3 image-side"><img class="gridimage" src="@item.image" /></div>
    <div class="col s9 content-side">
        <b>@item.name</b><br>
        <div class="chip">$@item.price</div>
        <p>@item.description</p>
        <form asp-controller="Home" asp-action="AddComputerToCart">
            <input type="hidden" name="id" value="@item.id" />
            <button type="submit">Add @item.name to cart</button>
        </form>
    </div>
</div>
<div class="container row editcomponents">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Computer Components</h4></li>
        <li class="collection-item avatar">
            <ul id="dropdownram" class="dropdown-content">
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="RAM2" />
                    <input type="hidden" name="lvl" value="10.99" />
                    <button type="submit">RAM2, $10.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="RAM" />
                    <input type="hidden" name="lvl" value="3" />
                    <button type="submit">RAM3, $11.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="RAM" />
                    <input type="hidden" name="lvl" value="4" />
                    <button type="submit">RAM4, $12.99</button>
                </form></li>
            </ul>

            <img class="circle" src="@item.RAM.image" />
            <span class="title">@item.RAM.name</span>
            <p>@item.RAM.price<br>@item.RAM.description.Replace("**", " ")</p>
            <a class="dropdown-button secondary-content" href="#!" data-activates="dropdownram"><i class="material-icons">edit</i><i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li class="collection-item avatar">
            <ul id="dropdownHD" class="dropdown-content">
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="HD" />
                    <input type="hidden" name="lvl" value="2" />
                    <button type="submit">HD2, $10.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="HD" />
                    <input type="hidden" name="lvl" value="3" />
                    <button type="submit">HD3, $11.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="HD" />
                    <input type="hidden" name="lvl" value="4" />
                    <button type="submit">HD4, $12.99</button>
                </form></li>
            </ul>
            
            <img class="circle" src="@item.HD.image" />
            <span class="title">@item.HD.name</span>
            <p>@item.HD.price<br>@item.HD.description.Replace("**", " ")</p>
            <a class="dropdown-button secondary-content" href="#!" data-activates="dropdownHD"><i class="material-icons">edit</i><i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li class="collection-item avatar">
            <ul id="dropdownCPU" class="dropdown-content">
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="CPU" />
                    <input type="hidden" name="lvl" value="2" />
                    <button type="submit">CPU2, $10.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="CPU" />
                    <input type="hidden" name="lvl" value="3" />
                    <button type="submit">CPU3, $11.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="CPU" />
                    <input type="hidden" name="lvl" value="4" />
                    <button type="submit">CPU4, $12.99</button>
                </form></li>
            </ul>
            
            <img class="circle" src="@item.CPU.image" />
            <span class="title">@item.CPU.name</span>
            <p>@item.CPU.price<br>@item.CPU.description.Replace("**", " ")</p>
            <a class="dropdown-button secondary-content" href="#!" data-activates="dropdownCPU"><i class="material-icons">edit</i><i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li class="collection-item avatar">
            <ul id="dropdownOS" class="dropdown-content">
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="OS" />
                    <input type="hidden" name="lvl" value="2" />
                    <button type="submit">OS2, $10.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="OS" />
                    <input type="hidden" name="lvl" value="3" />
                    <button type="submit">OS3, $11.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="OS" />
                    <input type="hidden" name="lvl" value="4" />
                    <button type="submit">OS4, $12.99</button>
                </form></li>
            </ul>
            
            <img class="circle" src="@item.OS.image" />
            <span class="title">@item.OS.name</span>
            <p>@item.OS.price<br>@item.OS.description.Replace("**", " ")</p>
            <a class="dropdown-button secondary-content" href="#!" data-activates="dropdownOS"><i class="material-icons">edit</i><i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li class="collection-item avatar">
            <ul id="dropdownDisplay" class="dropdown-content">
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="Display" />
                    <input type="hidden" name="lvl" value="2" />
                    <button type="submit">Display2, $10.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="Display" />
                    <input type="hidden" name="lvl" value="3" />
                    <button type="submit">Display3, $11.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="Display" />
                    <input type="hidden" name="lvl" value="4" />
                    <button type="submit">Display4, $12.99</button>
                </form></li>
            </ul>
            
            <img class="circle" src="@item.Display.image" />
            <span class="title">@item.Display.name</span>
            <p>@item.Display.price<br>@item.Display.description.Replace("**", " ")</p>
            <a class="dropdown-button secondary-content" href="#!" data-activates="dropdownDisplay"><i class="material-icons">edit</i><i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li class="collection-item avatar">
            <ul id="dropdownSoundCard" class="dropdown-content">
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="SoundCard" />
                    <input type="hidden" name="lvl" value="2" />
                    <button type="submit">SoundCard2, $10.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="SoundCard" />
                    <input type="hidden" name="lvl" value="3" />
                    <button type="submit">SoundCard3, $11.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="CompEdit">
                    <input type="hidden" name="id" value="@item.id" />
                    <input type="hidden" name="type" value="SoundCard" />
                    <input type="hidden" name="lvl" value="4" />
                    <button type="submit">SoundCard4, $12.99</button>
                </form></li>
            </ul>
            
            <img class="circle" src="@item.SoundCard.image" />
            <span class="title">@item.SoundCard.name</span>
            <p>@item.SoundCard.price<br>@item.SoundCard.description.Replace("**", " ")</p>
            <a class="dropdown-button secondary-content" href="#!" data-activates="dropdownSoundCard"><i class="material-icons">edit</i><i class="material-icons right">arrow_drop_down</i></a>
        </li>
    </ul>
</div>
<div class="row reviews"></div>