@model part3.Models.ComputerItem

@{
    var item = ViewData["item"] as ComputerItem;
    ViewData["Title"] = item.name + " Page";
}

<div class="row product">
    <div class="col s3 image-side"><i class="material-icons large">flash_on</i></div>
    <div class="col s9 content-side">
        <b>@item.name</b><br>
        <div class="chip">$@item.price</div>
        <p>@item.description</p>
        <button>Add to ze Cart!!</button>
    </div>
</div>
<div class="container row editcomponents">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Computer Components</h4></li>
        <li class="collection-item avatar">
            <ul id="dropdownram" class="dropdown-content">
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="RAM2" />
                    <input type="hidden" name="componentprice" value="10.99" />
                    <button type="submit">RAM2, $10.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="RAM3" />
                    <input type="hidden" name="componentprice" value="11.99" />
                    <button type="submit">RAM3, $11.99</button>
                </form></a></li>
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="RAM4" />
                    <input type="hidden" name="componentprice" value="12.99" />
                    <button type="submit">RAM4, $12.99</button>
                </form></li>
            </ul>

            <i class="material-icons circle red">play_arrow</i>
            <span class="title">@item.RAM.name</span>
            <p>@item.RAM.price<br>@item.RAM.description</p>
            <a class="dropdown-button secondary-content" href="#!" data-activates="dropdownram"><i class="material-icons">edit</i><i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li class="collection-item avatar">
            <ul id="dropdownHD" class="dropdown-content">
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="HD2" />
                    <input type="hidden" name="componentprice" value="10.99" />
                    <button type="submit">HD2, $10.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="HD3" />
                    <input type="hidden" name="componentprice" value="11.99" />
                    <button type="submit">HD3, $11.99</button>
                </form></a></li>
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="HD4" />
                    <input type="hidden" name="componentprice" value="12.99" />
                    <button type="submit">HD4, $12.99</button>
                </form></li>
            </ul>
            
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">@item.HD.name</span>
            <p>@item.HD.price<br>@item.HD.description</p>
            <a class="dropdown-button secondary-content" href="#!" data-activates="dropdownHD"><i class="material-icons">edit</i><i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li class="collection-item avatar">
            <ul id="dropdownCPU" class="dropdown-content">
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="CPU2" />
                    <input type="hidden" name="componentprice" value="10.99" />
                    <button type="submit">CPU2, $10.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="CPU3" />
                    <input type="hidden" name="componentprice" value="11.99" />
                    <button type="submit">CPU3, $11.99</button>
                </form></a></li>
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="CPU4" />
                    <input type="hidden" name="componentprice" value="12.99" />
                    <button type="submit">CPU4, $12.99</button>
                </form></li>
            </ul>
            
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">@item.CPU.name</span>
            <p>@item.CPU.price<br>@item.CPU.description</p>
            <a class="dropdown-button secondary-content" href="#!" data-activates="dropdownCPU"><i class="material-icons">edit</i><i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li class="collection-item avatar">
            <ul id="dropdownOS" class="dropdown-content">
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="OS2" />
                    <input type="hidden" name="componentprice" value="10.99" />
                    <button type="submit">OS2, $10.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="OS3" />
                    <input type="hidden" name="componentprice" value="11.99" />
                    <button type="submit">OS3, $11.99</button>
                </form></a></li>
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="OS4" />
                    <input type="hidden" name="componentprice" value="12.99" />
                    <button type="submit">OS4, $12.99</button>
                </form></li>
            </ul>
            
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">@item.OS.name</span>
            <p>@item.OS.price<br>@item.OS.description</p>
            <a class="dropdown-button secondary-content" href="#!" data-activates="dropdownOS"><i class="material-icons">edit</i><i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li class="collection-item avatar">
            <ul id="dropdownDisplay" class="dropdown-content">
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="Display2" />
                    <input type="hidden" name="componentprice" value="10.99" />
                    <button type="submit">Display2, $10.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="Display3" />
                    <input type="hidden" name="componentprice" value="11.99" />
                    <button type="submit">Display3, $11.99</button>
                </form></a></li>
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="Display4" />
                    <input type="hidden" name="componentprice" value="12.99" />
                    <button type="submit">Display4, $12.99</button>
                </form></li>
            </ul>
            
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">@item.Display.name</span>
            <p>@item.Display.price<br>@item.Display.description</p>
            <a class="dropdown-button secondary-content" href="#!" data-activates="dropdownDisplay"><i class="material-icons">edit</i><i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li class="collection-item avatar">
            <ul id="dropdownSoundCard" class="dropdown-content">
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="SoundCard2" />
                    <input type="hidden" name="componentprice" value="10.99" />
                    <button type="submit">SoundCard2, $10.99</button>
                </form></li>
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="SoundCard3" />
                    <input type="hidden" name="componentprice" value="11.99" />
                    <button type="submit">SoundCard3, $11.99</button>
                </form></a></li>
                <li><form asp-controller="Home" asp-action="Computereditpage2">
                    <input type="hidden" name="name" value=@item.name />
                    <input type="hidden" name="price" value=@item.price />
                    <input type="hidden" name="desc" value=@item.description />
                    <input type="hidden" name="RAM" value=@item.RAM.ToString() />
                    <input type="hidden" name="HD" value=@item.HD.ToString() />
                    <input type="hidden" name="CPU" value=@item.CPU.ToString() />
                    <input type="hidden" name="OS" value=@item.OS.ToString() />
                    <input type="hidden" name="Display" value=@item.Display.ToString() />
                    <input type="hidden" name="SoundCard" value=@item.SoundCard.ToString() />
                    <input type="hidden" name="componentname" value="SoundCard4" />
                    <input type="hidden" name="componentprice" value="12.99" />
                    <button type="submit">SoundCard4, $12.99</button>
                </form></li>
            </ul>
            
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">@item.SoundCard.name</span>
            <p>@item.SoundCard.price<br>@item.SoundCard.description</p>
            <a class="dropdown-button secondary-content" href="#!" data-activates="dropdownSoundCard"><i class="material-icons">edit</i><i class="material-icons right">arrow_drop_down</i></a>
        </li>
    </ul>
</div>
<div class="row reviews"></div>